.filme-info{
    max-width: 800px;
    margin: 14px auto;
    display: flex;
    flex-direction: column;
    padding: 0 8px;;
}

.filme-info img{
    width: 900px;
    max-width: 100%;
    max-height: 340px;
    object-fit: cover;
    display: block;
    border-radius: 8px;
}

.filme-info h3{
    margin-top: 14px;
}

.filme-info span{
    margin: 8px 0 ;
}

.area-button button{
    margin: 14px 12px 0 0;
    font-size: 20px;
    border: 0;
    outline: none;
    padding: 12px;
    border-radius: 4px;
    cursor: pointer;
    transition: all 0.5s;
}

.area-button button:hover{
    background-color: brown;
    color: white;
}

.area-button a:hover{
    color: white;
}

.area-button a{
    text-decoration: none;
    color: black;
    
    transition: all 0.5s;
}